
{% block content %}

<article class="center">
    <h1>Welcome to Space Trader! </h1>
    <img src="https://lh3.googleusercontent.com/p3gaHFA6hY7BArgJ21quh7Z7hG9RtKi6bH7cENzb1jW2xbUzVXU8akeDYZ9VnVnv1EU=h900" alt="" style="padding: 0; width:640px; height: 400px;">    
    <br>
    <p style="font-size:300%;">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Team member:</p>
    <p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Qianyun Chen</p>
    <p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Robin Luo</p>
    <p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Weiye Yi</p>
    <p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Lechen Dai</p>
    <p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Wei Xin</p>
    <br>
    <a href="{{url_for('load')}}" ><button type="button"> Start Game </button></a>

    
</article>
{% endblock content %}